
# Generated Stuff
.sass-cache
.sass-cache/*
css/*.map
/assets/css/*.css
/assets/css/*.map

# bundling output
build/*
build
dist/*
dist

# Node Modules (use `npm install` to generate these)
node_modules/*
node_modules


# OS X Junk
.DS_Store
.DS_Store/*
.AppleDouble
.LSOverride


# Not-Needed System Files
*.swp
*.bak
